body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background-color: #ADD8E6;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between; 
    background-color: #b6aaaa;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.notification-item {
    list-style: none;
    background-color: #c7a659;
    outline: 2px solid;
}

.area-header {
    margin-bottom: 0.25rem;
}

.navbar-item a {
  text-decoration: none;
  color: #120101;     
}

h1 {
    font-family:'Arial';
    font-size: 2.5rem;                 
    color: #cf0707;                  
    font-weight: 1000;      
}

menu {
  list-style: none;
}

.column-container {
    display: flex;
    flex-direction: column;       
    align-items: flex-start;  
    padding: 50px;
    gap: 40px;                
}

.notification-col, .musicals-col {
    flex: 1;            
    display: flex;
    flex-direction: column;    
    max-width: 500px;        
}

footer {
    margin: 5px;
    font-family:'Arial';
    display: flex;
    flex-direction: column;
}